body {
  margin: 0px;
}

ul {
  list-style-type: none;
  margin: 0px;
}

a {
  text-decoration: none;
}

button {
  width: 100px;
  height: 30px;
  border-radius: 8px;
  border: 1 px solid;
}

/* Container */

.container {
  background-color: #1f2937;
  padding: 25px 100px 100px 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-left {
  padding-right: 100px;
}

.main-left h3 {
  font-size: 48px;
  color: #f9faf8;
  margin-top: 0;
  margin-bottom: 20px;
  /*font-family: Roboto;    */
}

.main-left p,
.links a {
  font-size: 18px;
  color: #e5e7eb;
}

.main-left button {
  background-color: #3882f6;
  color: white;
}

.links ul {
  display: flex;
  gap: 20px;
}

.logo-image {
  height: 30px;
}

.main-image {
  width: 450px;
  height: 200px;
  background-color: grey;
  flex-shrink: 0;
}

/* info */

.info {
  padding-top: 30px;
  padding-bottom: 40px;
}

.info h4 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0px;
}

.info-items {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.info-items li {
  width: 100px;
  flex-shrink: 0;
}

.ill-image {
  border: 3px solid #3882f6;
  border-radius: 8px;
  height: 100px;
  box-sizing: border-box;
}

/* quote-part */

.quote-part {
  background-color: #e5e7eb;
  padding: 60px 100px;
}

.quote {
  font-size: 36px;
  font-weight: 300;
  color: #1f2937;
  margin: 0px;
}

.quote-owner {
  font-weight: bold;
  margin-right: 70px;
  text-align: end;
  margin-top: 5px;
}

/* call-to-action */

.sign-up {
  background-color: #3882f6;
  padding: 50px 100px;
  margin: 75px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}

.sign-up p,
.sign-up h6 {
  margin: 0px;
  color: #f9f1f8;
}

.sign-up h6 {
  margin-bottom: 10px;
  font-size: 16px;
}

.sign-up p {
  font-size: 12px;
  font-weight: 300;
}

.sign-up button {
  background-color: #3882f6;
  border-color: white;
  color: white;
}
