body {
  margin: 0px;
}

ul {
  list-style-type: none;
  margin: 0px;
}

a {
  text-decoration: none;
}

button {
  padding: 5px 25px;
  border-radius: 8px;
}

/* Container */

.container {
  background-color: #1f2937;
  padding: 25px 100px 100px 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.main {
  display: flex;
  align-items: center;
}

.main-left h3 {
  font-size: 48px;
  color: #f9faf8;
  margin-top: 0;
  margin-bottom: 20px;
  /*font-family: Roboto;    */
}

.main-left p,
.links a {
  font-size: 18px;
  color: #e5e7eb;
}

.main-left button {
  background-color: #3882f6;
  color: white;
}

.links ul {
  display: flex;
  gap: 20px;
}

.logo-image {
  height: 30px;
}

.main-image {
  width: 450px;
  height: 200px;
  background-color: grey;
  flex-shrink: 0;
  margin-left: 70px;
}

/* info */

.info {
  padding-top: 30px;
  padding-bottom: 40px;
}

.info h4 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0px;
}

.info-items {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.info-items li {
  width: 100px;
  flex-shrink: 0;
}

.ill-image {
  border: 3px solid #3882f6;
  border-radius: 8px;
  height: 100px;
  box-sizing: border-box;
}
